/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

img {
  height: 200px;
  width: 200px;
}

.box {
  outline: 1px solid black;
  height: 200px;
  width: 600px;
  display: flex;
}

.spot {
    outline: 2px solid blue;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.box img {
  /* display: none; */
}

.displayImg {
  display: block;
}




